@font-face {
    font-family: 'Assistant';
    src: url("assets/fonts/Assistant-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: 'Assistant';
    src: url("assets/fonts/Assistant-Bold.ttf");
    font-weight: 700;
  }
  body {
    font-family: 'Assistant';
    }